<div class="main-content">
    <div class="container-fluid">     
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title text-danger font-weight-bold">About Us</h3>
                        <br>
                        <br>
                        <p class="category text-primary font-weight-bold">Happy to help</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title text-danger font-weight-bold">Terms & Conditions </h3>
                        <br>
                        <br>
                        <p class="category text-primary font-weight-bold">The content of this website as well as data provided by related API's is aggregated from multiple sources and given without guarantee to be correct. All information provided on this website is given with the best intent and will to provide factual information. In no event shall the website operators be held liable for any claim, damages or other liabilities. If you have concerns or comments about the information provided on this website, please write to us</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
