
<div class="carousal-div">
    <ngb-carousel>
    <ng-template ngbSlide *ngFor="let index of imgCount">
      <div class="picsum-img-wrapper" >
        <img src="assets/img/corousal/img-{{index}}.jpg" >
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/corousal/img-2.jpg">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/corousal/img-3.png">
      </div>
    </ng-template> -->
  </ngb-carousel>
</div>