<div class="card">
  <div class="header">
    <h3 class="title text-danger font-weight-bold">{{ title }}</h3>
    <p class="category text-info font-weight-bold">{{ subtitle }}</p>
  </div>
  <div class="content">
    <div [attr.id]="chartId" class="ct-chart {{ chartClass }}" style="margin: 5px;"></div>

    <div class="footer">
      <div class="legend">
        <span *ngFor="let item of legendItems">
          <i [ngClass]="item.imageClass"></i> {{ item.title }}
        </span>
      </div>
      <hr *ngIf="withHr">
      <div class="stats font-weight-bold">
        <i [ngClass]="footerIconClass"></i> {{ footerText }}
      </div>
    </div>
  </div>
</div>
