<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title font-weight-bold">Tasks</h4>
                    <p class="category" style="color: #3b536f;">As per  WHO Guidelines</p>
                </div>
                <div class="content">
                    <div class="table-full-width">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1">

                                            </label>
                                        </div>
                                    </td>
                                    <td>Wash your hands frequently</td>
                                    <!-- <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td> -->
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox2" type="checkbox" >
                                            <label for="checkbox2">

                                            </label>
                                        </div>
                                    </td>
                                    <td>Maintain social distancing</td>
                                    <!-- <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td> -->
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox3" type="checkbox" >
                                            <label for="checkbox3">

                                            </label>
                                        </div>
                                    </td>
                                    <td>Avoid touching eyes, nose and mouth
                                    </td>
                                    <!-- <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td> -->
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox4" type="checkbox">
                                            <label for="checkbox4">

                                            </label>
                                        </div>
                                    </td>
                                    <td>Practice respiratory hygiene</td>
                                    <!-- <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td> -->
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox5" type="checkbox" >
                                            <label for="checkbox5">

                                            </label>
                                        </div>
                                    </td>
                                    <td>If you have fever, cough and difficulty breathing, seek medical care early</td>
                                    <!-- <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td> -->
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox6" type="checkbox">
                                            <label for="checkbox6">

                                            </label>
                                        </div>
                                    </td>
                                    <td>Stay informed and follow advice given by your healthcare provider</td>
                                    <!-- <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> #STAY_HOME_STAY_SAFE
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </div>
    
