<div class="main-content" >
    <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <!-- <div class="col-md-6" *ngIf="this.showNews">
                        <div *ngFor="let news of newsDataArray">
                        <div class="alert alert-info">
                            <span (click)="this.showContent = !this.showContent" style="color: brown; font-weight: bold;"> {{news.author}}</span><br><br> -->
                        <!-- </div><br>
                        <div class="alert alert-info"> -->
                            <!-- <button type="button" aria-hidden="true" class="close">×</button> -->
                            <!-- <span (click)="this.showContent = !this.showContent" style="color: brown;" *ngIf="this.showContent">{{news.description}}</span>
                        </div> -->
                         <!--<div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span>{{this.newsDataArray[0].publishedAt}}</span>
                        </div>
                         <div class="alert alert-info" data-notify="container">
                         <button type="button" aria-hidden="true" class="close">×</button>
                            <span data-notify="icon" class="pe-7s-bell"></span> 
                            <span data-notify="message">{{this.newsDataArray[0].content}}</span>
                        </div> 
                        <div class="alert alert-info" data-notify="container">
                             <button type="button" aria-hidden="true" class="close">×</button>
                            <span data-notify="icon" class="pe-7s-bell"></span> 
                            <span data-notify="message">{{this.newsDataArray[0].description}}</span>
                        </div>-->
                    <!-- </div>
                    </div> -->
                    <!-- <div class="col-md-6">
                        <h5>Notification states</h5>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Info - </b> This is a regular notification made with ".alert-info"</span>
                        </div>
                        <div class="alert alert-success">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Success - </b> This is a regular notification made with ".alert-success"</span>
                        </div>
                        <div class="alert alert-warning">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                        </div>
                        <div class="alert alert-danger">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h5>Notifications Places
                                <p class="category">Click to view notifications</p>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-2">
                            <button class="btn btn-default btn-block" (click)="showNotification('top','left')">Top Left</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="showNotification('top','center')">Top Center</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="showNotification('top','right')">Top Right</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-2">
                            <button class="btn btn-default btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                        </div>
                    </div>
                </div> -->
                <!-- <label><button class="btn btn-primary" (click)="showNewsData('us')">World News</button></label>
                <label class="pull-right"><button class="btn btn-primary" (click)="showNewsData('IN')">India News</button></label> -->
                <ngb-accordion class="accordion" *ngFor="let news of newsDataArray">
                    <ngb-panel title="{{news.author}}">
                    <ng-template ngbPanelContent>
                        <p class="font-weight-bold">{{news.title}}</p>
                        {{news.description}} <a href="{{news.url}}">... Read More</a>
                        <span class="text-primary pull-right ml-2">{{news.publishedAt | date :short}}</span>
                    </ng-template>
                    </ngb-panel>                
                    </ngb-accordion>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 
