<div class="main-content" >
    <div class="container">
       <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
             <div class="card">
                <div class="header">
                   <h4 class="title pull-left">Sign Up</h4>
                   <h4 class="title pull-right" routerLink="/login">Sign In</h4>
                </div>
                <div class="content">
                   <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" name="userName" [(ngModel)]="userName" required placeholder="UserName">
                    </div>
                    <div *ngIf="newUsername">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" required placeholder="First Name">
                        <div *ngIf="firstName?.dirty || firstName?.touched"
                            class="alert alert-danger">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" required placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" type="password" class="form-control" [(ngModel)]="password" required placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input name="confirm" type="confirm" class="form-control" [(ngModel)]="confirm" (keyup)="checkPswd()" required placeholder="Confirm Password">
                    </div>
                    <span style="color: red;" *ngIf="!pswdCheck">{{this.errorMsg}}</span>
                    <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="!showSubmit" (click)="onSubmit()">SIGN UP</button>
                    </div>
                    <div *ngIf="this.showError" class="mb-2">
                        <span class="text-danger"><b>{{this.errorMsg}}</b></span>                       
                    </div>
                    <button *ngIf="!newUsername" type="submit" class="btn btn-info btn-fill pull-right" (click)="checkUsername()">Continue</button>
                    <button type="submit" class="btn btn-secondary btn-fill pull-left" (click)="reset()">Reset</button>
                    
                   </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
        </ngx-spinner> 