<div class="main-content">
    <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
                <div class="div-card mb-3">
                        <!-- <select class=" custom-sel" searchable="Search here.." (change)="updateChart($event)">
                            <option value="" disabled selected>Select Country</option>
                            <option *ngFor="let item of allCountryList$ |async" value="{{item.ISO2}}">{{item.Country}}</option>
                        </select> -->
                        <ng-select [items]="allCountryList" bindLabel="Country" placeholder="Select Country" 
                        [(ngModel)]="selected" (change)="updateChart()">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-12" *ngIf="showChart; else elseBlock">
                <lbd-chart
                  [title]="title"
                  [subtitle]="subtitle"
                  [chartType]="allCasesChartType"
                  [chartData]="allCasesChartData"
                  [chartOptions]="allCasesChartOptions"
                  [chartResponsive]="allCasesChartResponsive"
                  [legendItems]="allCasesChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-history'"
                  [footerText]="updatedDate">
                </lbd-chart>
            </div>
            <ng-template #elseBlock>
                <div class="col-md-6 error-div">
                    <app-error></app-error>
                </div>                
            </ng-template>
        </div>            
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: red">Please Wait. </p>  
    </ngx-spinner> 