<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6" style="text-align: center">
                <h3>Active Cases:</h3>
                <div class="maincounter-number">
                    <span style="color:#aaa">2,498,998 </span>
                </div>
                <h3>Deaths:</h3>

                <div class="maincounter-number">
                    <span style="color:rgb(100, 7, 7)">98,998 </span>
                </div>
                <h3>Recovered:</h3>

                <div class="maincounter-number">
                    <span style="color:rgb(5, 71, 49)">1,98,998 </span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6" style="text-align: center">
              <app-carousel></app-carousel>
             </div>
        </div>
    </div>
</div>

