<footer class="footer">
    <div class="container-fluid" style="background-color: #3b536f;position: relative;bottom: 0;width: 100%;">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/home"  style="color: #fff;">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/task" style="color: #fff;">
                        Tasks
                    </a>
                </li>
                <li>
                    <a href="/upgrade" style="color: #fff;">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/comments" style="color: #fff;">
                        Comments
                    </a>
                </li>
            </ul>
        </nav>
        <!-- <p class="copyright pull-right" style="color: #fff;">
            &copy; {{test | date: 'yyyy'}} <a href="#">_</a>
             Keep connected for every updates...
        </p> -->
    </div>
</footer>
